/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--primary-font-family), monospace;
  font-size: var(--primary-font-size);
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 613px;
  box-sizing: border-box;
  padding: 20px;
  color: var(--color-primary);
  position: relative;
}

.header__type {
  color: var(--main-color);
  justify-self: center;
}

.header__theme-menu {
  line-height: 0.9;
}
 
.header__theme-menu-list {
  display: flex;
  align-items: center;
  gap: 11px;
}

.header__theme-menu-button {
  padding: 2px 12px 4px;
  background: transparent;
  text-transform: lowercase;
  border: 1px solid transparent;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--special-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decoration-color);
  outline: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button.header__theme-menu-button_active {
  border: 1px solid var(--decoration-color);
  padding: 2px 12px 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  z-index: 1;
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
}

.decorated-zone::after {
  border-right: 1px solid var(--decoration-color);
  border-top: 1px solid var(--decoration-color);
  right: 20px;
  top: 20px;
}

.decorated-zone::before {
  border-left: 1px solid var(--decoration-color);
  border-bottom: 1px solid var(--decoration-color);
  left: 20px;
  bottom: 20px;
}

.header__decorated-icon::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  background: var(--color-primary);
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--color-primary);
  position: absolute;
  right: 9px;
  top: 8px;
}

.header__intro {
  width: 100%;
}

.title {
  color: var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 2.3;
  text-shadow: var(--title-shadow);
}

.header__title {
  margin-inline-start: -20px;
}

.title-decor {
  max-width: 50%;
  margin-inline-start: auto;
  background: var(--color-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: var(--main-title-color);
}

.header__decorated-icon {
  padding-inline-end: 29px;
  position: absolute;
  top: 20px;
  right: 20px;
}


@media(width <=1023px) {
  .header__paragraph {
    align-self: center;
  }

  .header__title {
    line-height: 0.88;
  }

  .header__theme-menu {
    flex: unset;
    width: unset;
  }

  .header__decorated-icon {
    top: 20px;
    right: 20px;
  }

  .header__type {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .title {
    text-shadow: 4px 4px 0 var(--color-primary) ;
  }
}

@media(width <=767px) {
  .header {
    min-height: unset;
    padding: 10px;
  }

  .header__title {
    margin-inline-start: -1px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.84;
  }

  .title-decor {
    max-width: unset;
    margin-inline-start: unset;
  }

  .header__decorated-icon {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::before {
    bottom: 10px;
    left: 10px; 
  }
} 

.section {
  padding-inline: 20px;

}

.section:not(:first-of-type):not(:last-of-type) {
  margin-top: 79px;
}


.section:first-of-type {
  margin-top: 60px;
}

.section:last-of-type {
  margin-top: 78px;
}

.section__text__reapeat {
  display: flex;
  gap: 20px;
  flex-basis: 0;
}

.title__section {
  font-family: var(--primary-font-family), monospace;
  font-size: var(--primary-font-size);
  color: var(--main-color);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 19.5px;
  flex: 1 0 66%;
  font-family: var(--primary-font-family), monospace;
  font-size: var(--primary-font-size);
}

.section__text__special {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container__special {
  display: flex;
  gap: 19px; 
  flex-wrap: wrap;
}

.content {
  flex:0 1 32%;
}

.title__content {
  font-size: var(--primary-font-size);
  color: var(--main-title-color);
  background-color: var(--color-primary);
  margin-bottom: 9px;
}

.text__content {
  color: var(--text-color);
}

.text__content:not(:last-of-type) {
  padding-block-end: 20px;
}

.special__section {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}

.title__block {
  font-size: var(--primary-font-size);
  color: var(--main-title-color);
  background-color: var(--color-primary);
}

.title__content-incline {
  color: var(--main-title-color);
  font-weight: 400;
  background-color: var(--color-primary);
  margin-bottom: 10px;
}

.textual__link {
  text-decoration: none;
  text-shadow: 1px 1.5px 0 var(--shadow-color);
  position: relative;
  display: inline-block;
  top: 0;
  right: 0;
}

.textual__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  height: 1px;
  width: 100%;
  background-color: var(--text-color);
}

.textual__link:hover:after {
  display: block;
}

.textual__link:focus-visible {
  outline: 1px solid var(--color-link);
}

@media (width <=1023px) {
  .container {
    flex-basis: 65%;
  }

  .container__special {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
} 

@media(width <=767px) {
  .section {
    padding-inline: 10px;
  }

  .section__text__reapeat {
    flex-direction: column;
  }

  .special__section {
  width: 100%;
  }

  .section:first-of-type {
    margin-top: 40px;
  }

  .section:not(:first-of-type):not(:last-of-type) {
    margin-top: 48px;
  }

  .container {
    gap: 19px;
  }
}

.title__images-section {
  width: 100%;
  font-size: var(--primary-font-size);
  color: var(--main-title-color);
  background-color: var(--color-primary);
}

.img__sunset { 
  grid-area: img__sunset; 
  object-fit: cover;
  width: 100%;
}

.img__ice-cream {
  grid-area: img__ice-cream;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img__tape { 
  grid-area: img__tape; 
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img__books { 
  grid-area: img__books;
  object-fit: cover;
  width: 100%;
 }

.img__street { 
  grid-area: img__street;
  object-fit: cover;
  width: 100%;
 }

.container__images {
  margin-top: 20px;
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
  "img__sunset img__sunset img__ice-cream"
  "img__tape img__books img__ice-cream"
  "img__tape img__street img__street"; 
  gap: 20px;
 }

@media(width <=767px) {
  .section:last-of-type {
    margin-top: 50px;
  }

  .container__images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
}

 .footer {
  display: flex;
  margin-top: 60px;
  position: relative;
  height: 100vh;
  min-height: 613px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
 }

.title__footer {
  font-family: var(--primary-font-family), monospace;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: var(--font-weight-bolt);
  color: var(--accent-color);
  text-shadow: 2px 2px 0 var(--color-header);
}

@media (width <=1023px) {
  .title__footer {
    text-shadow: 2px 2px 0 var(--color-primary);
  }
}

@media(width <= 767px) {
  .footer {
    margin-top: 41px;
    min-height: unset;
    padding: 10px;
  }

  .title__footer {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

